## ACADGILD 
## DATA SCIENCE MASTERS
### SESSION-1
### ASSSIGNMENT

### TASK 1

### 1. Screenshot

In [1]:
print("Hello World")

Hello World

This is the first program

### 2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
### of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
### comma-separated sequence on a single line.

In [2]:
# Create a list
L = []

# select the range of numbers
for x in range(2000, 3201):
    # check if the number is divisible by 7 but not by 5
    if x%5 != 0 and x%7 == 0:
        # if the condition is true then add number to the list
        L.append(x)
        
# display the list
print(L)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

### 3. Write a Python program to accept the user's first and last name and then getting them printed in the
### reverse order with a space between first name and last name.

In [2]:
# user input
fname = input('Enter First Name: ')
lname = input('Enter Last Name: ')

#reverse the order
print(lname+" "+fname)

Enter First Name: Charles
Enter Last Name: Darwin
Darwin Charles

### 4. Write a Python program to find the volume of a sphere with diameter 12 cm.
###     Formula: V=4/3 * Ï€ * r 3

In [3]:
# to use math functions
import math

# define diameter
d = 12

# define radius
r = d/2

# calculate volume of sphere and print
print((4/3)*math.pi*r**3)

904.7786842338603

## TASK 2

### 1. Write a program which accepts a sequence of comma-separated numbers from console and
### generate a list.

In [5]:
# user input
num = input('Enter numbers: ')

#split numbers to create list
L = list(num.split(','))
L = list(map(int,L))

# display list
print(L)

Enter numbers: 1,2,3,4,5
[1, 2, 3, 4, 5]

### 2. Create the below pattern using nested for loop in

In [9]:
# for upper half pattern
for i in range(5):
    for j in range(i+1):
        print('* ', end = '')
        
    # print new line
    print()

#for lower half pattern
for i in range(4):
    for j in range(4-i):
        print('* ', end = '')
        
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### 3. Write a Python program to reverse a word after accepting the input from the user.

In [15]:
# user input
w = input('Enter word: ')
print(w[::-1])

Enter word: AcadGild
dliGdacA

### 4. Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

Sample Output:
WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
             SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
              and to secure to all its citizens

In [20]:
# define string
s1 = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
s2 = s1.split()
s3 = ''

i = 1
for word in s2:
    if word == 'having' or word == 'and':
        s3 += "\n"
        s3 += "\t"*i
        i += 1
    s3 += word + ' '

print(s3)

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens